

body {
    background-color: #000;
     background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%); 
    background-blend-mode: multiply;
    background-size: cover;
    color: #fff;
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    
}
.outer {
    height: 250px;
    width: 707px;
    border: solid 10px #5b6b6d;
    margin: 60px auto;
    color:#080808;
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52ACFF 25%, #FFE32C 100%);

    


    text-align: -webkit-center;
    border-radius: 25px;
}

#seconds, #tens {
    font-size: 2em;
}
button {

    border-radius: 65px;
    background:#4d5250;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}
button:hover {
    transition: all 0.5s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #88947a;
}
#dots{
    font-size: 2.5rem;
    font-weight: 700;
}